 Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyz
*.pyzw
*.pyc
*.pyo
*.pyd
*.pyc
*.pyo
*.pyz
*.pyzw
*.pytest_cache/

# Virtual Environment
venv/
ENV/
env/
# If you're using Poetry for dependency management, add the following line
# poetry.lock

# AWS Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars
*.tfstate

# Ignore local AWS credentials or configuration
.aws/credentials
.aws/config

# Ignore IDE specific files
.vscode/
*.idea/
*.vscode/

# Ignore compiled Python files or bytecode
*.pyc

# Ignore any local development files or sensitive data
*.env
*.log

# ssh keys ignore 

*id_rsa
*id_rsa.pub

*.DS_Store

*aws-scenario-1-output.json
*aws-scenario-2-output.json
*aws-scenario-*
*gcp-scenario*
*token.txt
*cobra-as1-report.html
*cobra-as2-report.html
*cnbas-as1-report.html
*cnbas-as2-report.html

files/var/